body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
    background-color: #f7f7f7;
    display: grid;
    margin-top: 60px;
    gap: 60px;
    justify-items: center;
}

img {
    max-width: 100%; /* Evita o overflow, a img ocupa 100% do elemento pai */ 
    display: block;
}

a {
    text-decoration: none; /* Retirar qualquer decoração */  
}

p, h1, h2, h3 {
    margin: 0px; /* Serve para resetarmos as margens externas que vem por padrão */ 
}

p {
    font-size: 20px; /*  O padrão da fonte do parágrafo é de 16px*/ 
}

.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Faz com que o elemento quebre para se ajustar a tela */ 
    justify-content: center; /* Utilizamos para que o menu sempre fique centralizado na horizontal em ref aos outros componentes */ 
}

.menu a {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 4px;
    color: #000000;
    text-transform: uppercase; /* Altera o case do texto */
}

.menu a:hover {
    background-color: #ee2211;
    color: #ffffff;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao {
    background-color: #ffffff;
    padding: 40px;
    text-align: right;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
    
}

.detalhe {
    background-color: #ee2211;
    width: 60px;
    height: 4px;
    top: 50px;
    right: 30px;
    position: relative;
}


.botao {
    background-color: #ee2211;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
}

.botao:hover {
    background-color: #000000;
}

.subtitulo {
    font-size: 64px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: end;
    padding: 40px;
    align-self: center;
}

.vantagens {
    background-color: #ffffff;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-item p {
    grid-column: 2;
}

.rodape {
    background-color: #ffffff;
    text-align: center;
    padding: 40px;
    width: 100%; /* Faz com que o elemento atual fique 100% de tamanho do elemento pai */
}

